aiohttp
aiomqtt
annotated-doc
annotated-types
annotatedyaml
astral
attrs
autotyping
coverage[toml]
defusedxml
hypothesis
ifaddr
iniconfig
jinja2
multidict
mypy
numpy
packaging
pip
pydantic
pylint
pytest
pytest-asyncio
pytest-cov
pytest-github-actions-annotate-failures>=0.3.0
pytest-homeassistant-custom-component  # follows daily HA Version
pytest_aiohttp
pytest_socket
python-dateutil
python_discovery
pyupgrade
pyyaml
ruff>=0.15.18
serialx
smellcheck
types-aiofiles
types-atomicwrites
types-caldav
types-chardet
types-croniter
types-decorator
types-pexpect
types-protobuf
types-psutil
types-pyserial
types-python-dateutil
types-python-slugify
types-pytz
types-PyYAML
types-requests
types-xmltodict
typing-extensions
typing-inspection
voluptuous
voluptuous-serialize
zeroconf
