aiohttp<4.0.0,>=3.3.0
aiomqtt>=2.5.1,<2.6.0
annotated-doc>=0.0.4
annotated-types>=0.6.0
annotatedyaml>=1.0.2
astral>=2.2
attrs>=17.3.0
autotyping>=24.9.0
codecov>=2.1.13
coverage>=7.14.0
coverage[toml]
homeassistant-stubs>=2026.6.1
hypothesis>=6.155.2
ifaddr==0.2.0
iniconfig>=1.0.1
jinja2>=3.1.6
multidict<7.0,>=4.5
mypy==2.1.0
numpy>=2.3.2
packaging>=23.1
pip>=24.2
pylint>=4.0.5
pytest>=9.0.3
pytest-asyncio>=1.3.0
pytest-cov>=7.1.0
pytest-github-actions-annotate-failures>=0.3.0
pytest-homeassistant-custom-component  # follows daily HA Version
pytest_aiohttp==1.1.0
pytest_socket>=0.7.0
python-dateutil>=2.7
python_discovery>=1.4.0
pyupgrade>=3.21.2
pyyaml>=6.0.3
ruff>=0.15.15
smellcheck>=0.3.10
syrupy>=5.2.0
types-aiofiles>=25.1.0.20260518
types-atomicwrites>=1.4.5.1
types-caldav>=1.3.0.20250516
types-chardet>=5.0.4.6
types-croniter>=6.2.2.20260518
types-decorator>=5.2.0.20260519
types-pexpect>=4.9.0.20260518
types-protobuf>=6.30.2.20250914
types-psutil>=7.2.2.20260508
types-pyserial>=3.5.0.20260519
types-python-dateutil>=2.9.0.20260518
types-python-slugify>=8.0.2.20240310
types-pytz>=2026.2.0.20260518
types-PyYAML>=6.0.12.20260518
types-requests>=2.33.0.20260518
types-xmltodict>=1.0.1.20260518
typing-extensions>=4.15.0,<5.0
typing-inspection>=0.4.2
voluptuous>=0.15.2
voluptuous-serialize>=2.7.0
yarl>=1.24.2
zeroconf
