mypy
pytest
pytest-asyncio
pytest-homeassistant-custom-component # follows daily HA version
PyYAML
Markdown
certifi
ruff==0.15.12
pytest-github-actions-annotate-failures
annotatedyaml
voluptuous
yarl
coverage
bun
