-r requirements-test.txt
astroid
annotated-doc
annotated-types
annotatedyaml
ast-grep
astral
attrs
autotyping
coverage[toml]
defusedxml
mypy
prek
homeassistant>=2026.7.0
homeassisstant-stubs
pyyaml
pytest
pytest-cov
pytest-homeassistant>=0.1.1
pytest-homeassistant-custom-component
pytest-github-actions-annotate-failures
python
pip
packaging
uv
voluptuous
ruff>=0.15.20
pre-commit
pylint
iniconfig
semgrep
smellcheck
ty
hassfest
hacs-action
mcporter
semgo
codecov
mcporter
mcp
pyupgrade
hypothesis
ifaddr
iniconfig
jinja2
multidict
numpy
packaging
pip
pydantic
fastmcp
typing
uv-pre-commit

