annotatedyaml
bun
certifi
coverage
Markdown
mypy
pytest
pytest-asyncio
pytest-github-actions-annotate-failures
pytest-homeassistant-custom-component # follows daily HA version
PyYAML
ruff==0.15.14
voluptuous
yarl
