annotatedyaml
bun
certifi
coverage
homeassistant-stubs
Markdown
mypy
pytest
pytest-asyncio
pytest-github-actions-annotate-failures
pytest-homeassistant-custom-component # follows daily HA version
PyYAML
ruff
voluptuous
yarl
zed
