aiofiles
aiohttp
aiomqtt
annotatedyaml
certifi
coverage
coverage[toml]
codecov
homeassistant
homeassistant-stubs>=2026.5.4
hypothesis
jinja2>=3.1.6
mypy>=2.1.0
packaging>=26.2
paho-mqtt<=3.0.0
pip>=26.1.1
pylint
pytest
pytest-asyncio
pytest-cov
pytest-github-actions-annotate-failures
pytest-homeassistant-custom-component
pyyaml
ruff>=0.15.15
types-aiofiles>=25.1.0.20260518
types-atomicwrites>=1.4.5.1
types-caldav>=1.3.0.20250516
types-chardet>=5.0.4.6
types-croniter>=6.2.2.20260518
types-decorator>=5.2.0.20251101
types-pexpect>=4.9.0.20260518
types-protobuf>=7.34.1.20260518
types-psutil>=7.2.2.20260518
types-pyserial>=3.5.0.20260519
types-python-dateutil>=2.9.0.20260518
types-python-slugify>=8.0.2.20240310
types-pytz>=2026.2.0.20260518
types-PyYAML>=6.0.12.20260518
types-requests>=2.33.0.20260518
types-xmltodict>=1.0.1.20260518
typing-extensions>=4.15.0,<5.0
voluptuous